.about-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("../../../public/images/team-header.png");
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.about-col {
    flex-basis: 48%;
}

.about-col h1 {
    font-size: 2.5rem !important;
    color: #000;
}

.about-header .title {
    font-size: 2.5rem !important;
}

.about-header .titlein {
    color: aqua;
}