@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* scroll bar */
::-webkit-scrollbar-track
 {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   background-color: #F5F5F5;
 }
 
::-webkit-scrollbar
 {
   width: 6px;
   background-color: #F5F5F5;
 }
::-webkit-scrollbar-thumb
 {
   background-color: #000000;
 }
::-webkit-scrollbar-thumb:hover
 {
   background-color: #851b1b;
 }