@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
.readingbooks{
    font-family: 'Macondo', cursive;
}
.readingbooksp{
    font-family: area;
}
.home{
    height: 70vh;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: grid;
    justify-content: center;
    align-content: center;
}
.muted{
    color: inherit !important;
    text-decoration: inherit !important;
}
